<div class="card">
  <img src="{{ data.image }}" class="card-img-top" alt="..." />
  <div class="card-body">
    <h5 class="card-title">{{ data.title }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">
      {{ data.description }}
    </p>
    <div class="card-footer">
      <button class="btn" *ngIf="!addButton" (click)="addButton = true">Add to Cart</button>
      <div class="newBtn" *ngIf="addButton">
      <input type="number" class="form-control btnInput" [(ngModel)]="amount">
      <button class="btn btn-danger" (click)="add()">ADD</button>
    </div>
      <span>{{ data.price }} SAR</span>
    </div>
  </div>
</div>
